<table>
    <tr>
        <td>지원 카테고리</td>
        <td>이름</td>
        <td>성별</td>
        <td>나이</td>
        <td>이메일</td>
        <td>번호</td>
        <td>내용</td>
        <td>권한</td>
    </tr>
    {% for item in curriculum %}
    <tr>
        <td>{{item.idx}}</td>
        <td>{{item.name}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.age}}</td>
        <td>{{item.email}}</td>
        <td>{{item.number}}</td>
        <td>{{item.content}}</td>
        <td>{{item.authority}}</td>
    </tr>
    {% endfor %}
</table>